/* Stuff */

.moa {
	margin: 0 auto;
}

.carousel-inner>.item>a>img {
	margin: 0 auto;
}

.carousel {
	height: 330px;
}

body {
	background-color: #ebece4;
}

footer.footer.container {
	background-color: #f8f8f8;
	width: 100%;
}

.footer {
	margin-top: 45px;
	padding: 0px;
	border-top: 1px solid #E5E5E5;
}

div.field-content a {
	font-size: 16px;
	font-style: italic;
}

.navbar.container {
	max-width: 100%;
	background-color: #a0522d;
	border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #7a5230;
}

.views-field.views-field-title {
	font-size: 28px;
	font-weight: 500;
}

div#bottom
{
	height: 30px;
	background-color: #444549;
}

div#footer-contact-area
{
	display: table;

	margin: 0 auto;
}
/*
section
{
	clear: both;
}*/

section.body
{
	width: 80%;
	margin: 0 auto;
}

section#footer
{
	height: 501px;
	border: 1px solid #e7e7e7;
	background-color: #f8f8f8;
}


#mc_embed_signup form
{
	display: inline-block;
	border-color: #e7e7e7;
	background-color: #f8f8f8;
}

#mc_embed_signup input.email
{
	display: inline !important;
	margin: 0 !important;
}

#mc_embed_signup input.button
{
	display: inline !important;
	height: 34px !important;
	border-radius: 0 !important;
}

div#social
{
	margin: 20px;
}

input#edit-submitted-your-email, 
input#edit-submitted-confirm-email {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#block-system-main > div > div > div.views-row > div.views-field.views-field-field-image > div > a > img {
	width: 220px;
	height: auto;
	margin-right: 5px;
}

/* Banner */

.jumbotron
{
	margin-bottom: 30px;
	padding: 30px 15px;
	height: 250px;
}

div.jumbotron-box
{
	max-width: 700px !important;
	height: auto;
	margin: 0 auto;
	color: white;
	background: rgba(0,0,0,.5);
	text-align: center;
	padding: 15px 30px;
}

.jumbotron-box p {
font-size: 21px;
font-weight: 200;
margin-bottom: 15px;
}

span.blog-image {
	float: left;
	margin-right: 5px;
}

/*Social Share Links */

.social_media
{
	position: relative;

	display: table;

	margin: 0 auto;
	padding: 0;

	list-style: none;
}

.social_media li
{
	float: left;

	width: 24px;
	height: 24px;
	margin: 0 4px 4px 0;
}

#navbar > div > div.navbar-collapse.collapse > nav > ul > li > a.social
{
    display: block;
}

@media (min-width: 768px)
{
    #navbar > div > div.navbar-collapse.collapse > nav > ul > li > a.social
    {
        display: none;
    }
}

/* first & last items */
.social_media li:first-child,
#top_bar .social_media li:first-child
{
	margin-left: 0;
}

.social_media li:last-child,
#top_bar .social_media li:last-child
{
	margin-right: 0;
}

/* item link */
.social_media li a
{
	line-height: 24px;

	display: block;

	width: 24px;
	height: 24px;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	text-align: center;
	text-decoration: none;

	color: #fff;
	background: #bbb;
}

/* hover position */
.social_media li a:hover
{
	height: 29px;
	margin-top: -5px;

	color: #fff;
}

/* item desc */
.social_media li span
{
	font-size: 11px;
	line-height: 140%;

	position: absolute;
	position: absolute;
	z-index: -999;
	bottom: 40px;
	left: 0;

	visibility: none;

	width: 100%;
	padding: 4px 0;

	cursor: default;
	-webkit-transition: bottom .2s;
	-moz-transition: bottom .2s;
	-o-transition: bottom .2s;
	transition: bottom .2s;
	text-align: center;
	text-decoration: none;
	text-indent: 0;

	opacity: 0;
	color: #fff;

	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}

/* item desc hover position */
.social_media li:hover span
{
	z-index: 999;
	bottom: 33px;

	visibility: visible;

	min-width: 70px;

	opacity: 1;

	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

.social_media li.facebook:hover,
.social_media li.facebook:hover a,
.social_media li.facebook:hover span
{
	background-color: #3b5998 !important;
}
.social_media li.twitter:hover,
.social_media li.twitter:hover a,
.social_media li.twitter:hover span
{
	background-color: #10c0ee !important;
}
.social_media li.gplus:hover,
.social_media li.gplus:hover a,
.social_media li.gplus:hover span
{
	background-color: #e3614a !important;
}
.social_media li.rss:hover,
.social_media li.rss:hover a,
.social_media li.rss:hover span
{
	background-color: #fd8900 !important;
}

@media all and (max-width : 565px)
{

	div#recent-tweets
	{
		display: none;
	}

	#block-views-blog-block-1 {
	width: 80%;
	text-align: center;
}
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
margin: 0 auto;
height: 400px;
}

.carousel-inner {
height: 400px;
}